<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UTEC-GREEN Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{url_for('static',filename='css/sb-admin-2.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <style>
        .container img{
          width: 272px;
          height: 272px;
        }
    
      </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">UTEC+ GREEN</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Plantas
            </div>

            <!-- Nav Item - Tables1 -->
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('static',filename='piso1.html')}}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Planta piso 1</span></a>
            </li>
            <!-- Nav Item - Tables2 -->
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('static',filename='piso2.html')}}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Planta piso 2</span></a>
            </li>
            <!-- Nav Item - Tables3 -->
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('static',filename='piso3.html')}}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Planta piso 3</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                General
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('static',filename='tables.html')}}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Datos de sensores</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">


            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="{{url_for('static',filename='img/undraw_rocket.png')}}" alt="...">
                <p class="text-center mb-2"><strong>Consejo: </strong>¡Ve por la vereda! Evita pisar las plantas al caminar por el campus</p>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <div class="h5 mb-0 font-weight-bold text-gray-800">DASHBOARD</div>

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">2</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Notificaciones
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="static/piso2.html">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">**HORA**</div>
                                        ¡Planta piso 6 - Area 1 necesita atención! Click para ver más detalles.
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="static/piso3.html">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">**HORA**</div>
                                        ¡Planta piso 11 - Area 1 necesita atención! Click para ver más detalles.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">--No hay más notificaciones--</a>
                            </div>
                        </li>

                    

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">**NOMBRE USUARIO**</span>
                                <img class="img-profile rounded-circle"
                                    src="{{url_for('static',filename='img/undraw_profile.svg')}}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                        
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Ubicación</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">UTEC</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4" >
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Planta piso 6 - Area 1</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Baja humedad</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Planta piso 6 - Area 1</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Alta temperatura</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Planta piso 11 - Area 1</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Alta humedad</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Reglas sobre el cuidado de las plantas</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <p class="mb-4"><strong>Siguelas para mantener un campus verde y saludable</strong></p>
                                    <p class="mb-4">1. Regar correctamente: No todas las plantas requieren la misma cantidad de agua.</p>
                                    <p class="mb-4">2. Proporcionar luz adecuada: Las plantas necesitan luz para la fotosíntesis.</p>
                                    <p class="mb-4">3. Alimentar regularmente: Las plantas requieren nutrientes para crecer sanas.</p>
                                    <p class="mb-4">4. Controlar plagas y enfermedades: Evitar daños asegura plantas saludables.</p>
                                    <p class="mb-4">5. Poda regular: Ayuda a mantener la forma y promueve el crecimiento.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Plantas UTEC: Especies en el campus</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                          <div class="col-sm-12">
                                            <div id="inam" class="carousel slide" data-ride="carousel">
                                              <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                  <div class="container">
                                                    <div class="row">
                                                      <div class="col-sm-12 col-lg-4">
                                                        <div class="card" style="display: flex; justify-content: center; align-items: center;width: 300px;margin: 1px;">
                                                            <h1 class="h3 mb-0 text-gray-800" style="text-align: center;">Cantua buxifolia</h1>
                                                          <img src="{{url_for('static',filename='img/plant1.png')}}" class="card-img-top">
                                                          <div class="card-body">
                                                            
                                                            <p class="card-text">Conocida como "Flor de Inca", es la flor nacional del Perú. Es famosa por sus colores vibrantes.</p>
                                    
                                                          </div>
                                    
                                                        </div>
                                    
                            
                                    
                                                      </div>
                                                      
                                    
                                                    </div>
                                    
                                                  </div>
                                    
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="container">
                                                      <div class="row">
                                                        <div class="col-sm-12 col-lg-4">
                                                          <div class="card" style="display: flex; justify-content: center; align-items: center;width: 300px;margin: 1px;">
                                                            <h1 class="h3 mb-0 text-gray-800" style="text-align: center;">Sedum morganianum</h1>
                                                            <img src="{{url_for('static',filename='img/plant2.png')}}" class="card-img-top">
                                                            <div class="card-body">
                                                              
                                                                <p class="card-text">Planta de floración continua, con flores rojas, blancas o rosadas, y hojas brillantes.</p>
                                                            
                                      
                                                            </div>
                                      
                                                          </div>
                                      
                                                        </div>
                                                        
                                                        
                                      
                                                      </div>
                                      
                                                    </div>
                                      
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="container">
                                                      <div class="row">
                                                        <div class="col-sm-12 col-lg-4">
                                                          <div class="card" style="display: flex; justify-content: center; align-items: center;width: 300px;margin: 1px;">
                                                            <h1 class="h3 mb-0 text-gray-800" style="text-align: center;">Begonia semperflorens</h1>
                                                            <img src="{{url_for('static',filename='img/plant3.png')}}" class="card-img-top">
                                                            <div class="card-body" >
                                                              
                                                                <p class="card-text">Planta suculenta de crecimiento colgante, produce largos tallos con hojas carnosas.</p>
                                                            
                                      
                                                            </div>
                                      
                                                          </div>
                                      
                                                        </div>
                                                        
                                                        
                                      
                                                      </div>
                                      
                                                    </div>
                                      
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="container">
                                                      <div class="row">
                                                        <div class="col-sm-12 col-lg-4">
                                                          <div class="card" style="display: flex; justify-content: center; align-items: center;width: 300px;margin: 1px;">
                                                            <h1 class="h3 mb-0 text-gray-800" style="text-align: center;">Ferns (Helechos)</h1>
                                                            <img src="{{url_for('static',filename='img/plant4.png')}}" class="card-img-top">
                                                            <div class="card-body" >
                                                              
                                                                <p class="card-text">Plantas perennes con frondas divididas, disfrutan de la humedad y la sombra.</p>
                                                            
                                      
                                                            </div>
                                      
                                                          </div>
                                      
                                                        </div>
                                                        
                                                        
                                      
                                                      </div>
                                      
                                                    </div>
                                      
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="container">
                                                      <div class="row">
                                                        <div class="col-sm-12 col-lg-4">
                                                          <div class="card" style="display: flex; justify-content: center; align-items: center;width: 300px;margin: 1px;">
                                                            <h1 class="h3 mb-0 text-gray-800" style="text-align: center;">Epipremnum aureum</h1>
                                                            <img src="{{url_for('static',filename='img/plant5.png')}}" class="card-img-top">
                                                            <div class="card-body" >
                                                              
                                                                <p class="card-text">Planta trepadora con hojas en forma de corazón, se adapta a diversas condiciones de luz.</p>
                                                            
                                      
                                                            </div>
                                      
                                                          </div>
                                      
                                                        </div>
                                                        
                                                        
                                      
                                                      </div>
                                      
                                                    </div>
                                      
                                                </div>
                                    
                                              </div>
                                              <a href="#inam" class="carousel-control-prev" data-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                              </a>
                                              <a href="#inam" class="carousel-control-next" data-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                              </a>
                                    
                                            </div>
                                    
                                          </div>
                                    
                                        </div>
                                    
                                      </div>
                                </div>   
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Monitoreo de riesgo</h6>
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th scope="col">Sensor</th>
                                        <th scope="col">Fri 10</th>
                                        <th scope="col">Sat 11</th>
                                        <th scope="col">Sun 12</th>
                                        <th scope="col">Mon 13</th>
                                        <th scope="col">Tue 14</th>
                                        <th scope="col">Wed 15</th>
                                        <th scope="col">Thu 16</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row">Sensor Piso 1 - Area 1</th>
                                        <td> ✓ </td>
                                        <td> ✓ </td>
                                        <td><strong> ! </strong></td>
                                        <td> ✓ </td>
                                        <td> ✓ </td>
                                        <td><strong> ! </strong></td>
                                        <td> ✓ </td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Sensor Piso 6 - Area 1</th>
                                        <td> ✓ </td>
                                        <td><strong> ! </strong></td>
                                        <td> ✓ </td>
                                        <td> ✓ </td>
                                        <td> ✓ </td>
                                        <td><strong> ! </strong></td>
                                        <td> ✓ </td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Sensor Piso 6 - Area 2</th>
                                        <td> ✓ </td>
                                        <td><strong> ! </strong></td>
                                        <td> ✓ </td>
                                        <td> ✓ </td>
                                        <td> ✓ </td>
                                        <td><strong> ! </strong></td>
                                        <td><strong> ! </strong></td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Sensor Piso 11 - Area 1</th>
                                        <td><strong> ! </strong></td>
                                        <td> ✓ </td>
                                        <td> ✓ </td>
                                        <td> ✓ </td>
                                        <td> ✓ </td>
                                        <td> ✓ </td>
                                        <td><strong> ! </strong></td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Sensor Piso 11 - Area 2</th>
                                        <td><strong> ! </strong></td>
                                        <td> ✓ </td>
                                        <td> ✓ </td>
                                        <td> ✓ </td>
                                        <td> ✓ </td>
                                        <td> ✓ </td>
                                        <td><strong> ! </strong></td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>

                            <!-- Color System 
                            <div class="row">
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-primary text-white shadow">
                                        <div class="card-body">
                                            Primary
                                            <div class="text-white-50 small">#4e73df</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-success text-white shadow">
                                        <div class="card-body">
                                            Success
                                            <div class="text-white-50 small">#1cc88a</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-info text-white shadow">
                                        <div class="card-body">
                                            Info
                                            <div class="text-white-50 small">#36b9cc</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-warning text-white shadow">
                                        <div class="card-body">
                                            Warning
                                            <div class="text-white-50 small">#f6c23e</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-danger text-white shadow">
                                        <div class="card-body">
                                            Danger
                                            <div class="text-white-50 small">#e74a3b</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-secondary text-white shadow">
                                        <div class="card-body">
                                            Secondary
                                            <div class="text-white-50 small">#858796</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-light text-black shadow">
                                        <div class="card-body">
                                            Light
                                            <div class="text-black-50 small">#f8f9fc</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-dark text-white shadow">
                                        <div class="card-body">
                                            Dark
                                            <div class="text-white-50 small">#5a5c69</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            -->
                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Datos de sensores</h6>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                          <tr>
                                            <th scope="col">Sensor</th>
                                            <th scope="col">Humedad</th>
                                            <th scope="col">Temperatura</th>
                  
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">Sensor Piso 1 - Area 1</th>
                                            <td>**Valor**</td>
                                            <td>**Valor**</td>
                                           
                                          </tr>
                                          <tr>
                                            <th scope="row">Sensor Piso 1 - Area 1</th>
                                            <td>**Valor**</td>
                                            <td>**Valor**</td>
                                         
                                          </tr>
                                          <tr>
                                            <th scope="row">Sensor Piso 6 - Area 1</th>
                                            <td>**Valor**</td>
                                            <td>**Valor**</td>
                                          
                                          </tr>
                                          <tr>
                                            <th scope="row">Sensor Piso 6 - Area 2</th>
                                            <td>**Valor**</td>
                                            <td>**Valor**</td>
                                          
                                          </tr>
                                          <tr>
                                            <th scope="row">Sensor Piso 11 - Area 1</th>
                                            <td>**Valor**</td>
                                            <td>**Valor**</td>
                                          
                                          </tr>
                                          <tr>
                                            <th scope="row">Sensor Piso 11 - Area 2</th>
                                            <td>**Valor**</td>
                                            <td>**Valor**</td>
                                          
                                          </tr>
                                        </tbody>
                                      </table>
                                    
                                    <a target="_blank" rel="nofollow" href="static/tables.html">Más detalles &rarr;</a>
                                </div>
                            </div>

                            <!-- Approach 
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                                </div>
                                <div class="card-body">
                                    <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce
                                        CSS bloat and poor page performance. Custom CSS classes are used to create
                                        custom components and custom utility classes.</p>
                                    <p class="mb-0">Before working with this theme, you should become familiar with the
                                        Bootstrap framework, especially the utility classes.</p>
                                </div>
                            </div>
                            -->
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; UTEC+ GREEN 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{{url_for('static',filename='login.html')}}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}-->
    <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts {{url_for('static',filename='img/undraw_posting_photo.svg')}}-->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>